/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

* {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

#container {
  display: flex;
}

#break{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#break-label, #session-label {
  flex: 1 0 100%;
  font-weight: 300;
}

#session {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  border-bottom: solid teal;
}

#timer-label {
  font-family: impact;
  color: teal;
}

#display {
  text-align: center;
  font-size: 4rem;
  padding: 5px;
  border: 6px solid; 
  border-radius: 50px;
  margin-top: 1rem;
  width: 380px;
}

button {
  margin: 0.2rem;
  color: white;
  background-color: ForestGreen;
  border: none;
  padding: .3rem .5rem;
  border-radius: 20%;
}

button:hover {
  cursor: pointer;
}

button:active {
  opacity: .5;
  color: black;
  box-shadow: inset 0 0 3px black;
}

#start_stop, #reset {
  font-size: 1.5rem;
  color: #eee;
  margin-top: 0;
}
#break-length, #session-length {
  font-size: 1.3rem;
  font-weight: 300;
}

#buttons {
  margin-top: .5rem;
}

.shake {
  animation: .15s ease-in-out infinite shake; 
}

.shade {
  background-color: #ffbcbc;
  color: red;
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(.01turn);
    translate: .1rem;
  }
  50% {
    transform: rotate(0);
    scale: 1.05;
  }
  75% {
    transform: rotate(-0.01turn);
    translate: -.1rem;
  }
}